append styles
  link(rel="stylesheet" href=relative("./scheme.css", pug_debug_filename))

append scripts
  script(type="text/javascript" src=relative("./scheme.js", pug_debug_filename))

button.o-button.o-switch.o-switch--day-night.o-link.o-link--plain.o-link--ic.js-switch-scheme(role="switch" aria-checked="true" aria-label="Switch day/night mode")
  svg.o-switch__icon(src="/res/icons/daynight.svg") 
