.c-card {
  position: relative;
  text-decoration: none;
  color: inherit;
  display: inline-block;
  width: 100%;

  &__image-container {
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    font-size: 0;
    justify-content: center;
    margin-bottom: 1rem;

    &::before {
      content: '';
      border-radius: 5px;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background: rgba(0, 0, 0, .5);
    }

    &::after {
      content: attr(data-text);
      position: absolute;
      display: block;
      font-size: .6rem;
      align-self: center;
      color: #fff;
      border: solid 3px rgba(255, 255, 255, .5);
      border-radius: 5px;
      padding: .25rem 1rem;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
    }

    &::before,
    &::after {
      opacity: 0;
      will-change: opacity;
      transition: opacity .2s ease-in-out;
    }
  }

  &__image {
    width: 100%;
    object-fit: cover;
  }

  &:hover &__image-container::before,
  &:hover &__image-container::after {
    opacity: 1;
  }

  &__title-column {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }

  &__date {
    font-size: .7rem;
    text-align: right;
    line-height: 1.5rem;
  }

  &__date-container {
    flex-shrink: 0;
    margin-left: .5rem;
  }

  &__title {
    font-size: 1.1rem;
    font-weight: 600;
    margin: 0;
  }

  &__description {
    font-size: .85rem;
    margin: .5rem 0;
  }

  &--no-image:hover {
    color: var(--color-accent);

    .c-card__title {
      color: var(--color-accent);
    }
  }
}
