@import './typography.css';
@import './util.css';
@import './theme.css';
@import './fonts.css';
@import './objects.css';

* {
  box-sizing: border-box;
}

html {
  font-family: Museo Sans, Helvetica Neue, Segoe UI, Tahoma, sans-serif;
  font-size: 20px;
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
  display: block;

  @media (--mid-laptop) {
    font-size: 18px;
  }

  @media (--laptop) {
    font-size: 17px;
  }
}

body {
  margin: 0;
  padding: 0;
  background: var(--color-background);
  color: var(--color-base);
}

main {
  display: block;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    transition: none !important;
  }
}
