@font-face {
  font-family: Museo Sans;
  font-display: fallback;
  src: local('Museo Sans'), url('/res/fonts/Museo Sans 300.woff') format('woff'), url("/res/fonts/Museo Sans 300.ttf") format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: Museo Sans;
  font-display: fallback;
  src: local('Museo Sans'), url('/res/fonts/Museo Sans 300i.woff') format('woff'), url("/res/fonts/Museo Sans 300i.ttf") format('truetype');
  font-style: italic;
  font-weight: 300;
}

@font-face {
  font-family: Museo Sans;
  font-display: fallback;
  src: local('Museo Sans'), url('/res/fonts/Museo Sans 700.woff') format('woff'), url("/res/fonts/Museo Sans 700.ttf") format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: Museo Sans;
  font-display: fallback;
  src: local('Museo Sans'), url('/res/fonts/Museo Sans 700i.woff') format('woff'), url("/res/fonts/Museo Sans 700i.ttf") format('truetype');
  font-style: italic;
  font-weight: 700;
}
