.o-link {
  color: var(--color-accent);
  text-decoration: none;
  transition: color .2s ease-in-out, fill .2s ease-in-out, stroke .2s ease-in-out, border-color .1s ease-in-out;
  will-change: color, fill, stroke, border-color;
  border-bottom: 1px dashed;
  outline-width: 3px;

  &--plain {
    border-bottom: 0;
  }

  &--ic {
    .scheme-dark & {
      color: var(--color-base);
      fill: var(--color-base);
      stroke: var(--color-base);
    }
  }

  &--print-url {
    @media (print) {
      font-weight: 500;
      border-bottom: 0;

      &::after {
        content: ' (' attr(href) ')';
      }
    }
  }

  &:hover {
    outline: none;
    color: var(--color-accent);
    fill: var(--color-accent);
    stroke: var(--color-accent);
    border-bottom-color: transparent;
  }
}

.o-image {
  max-width: 100%;
}

.o-hr {
  border: 0;
  background: var(--color-tint);
  height: 1px;
}

.o-svg-sprite {
  display: none;
}

.o-button {
  background: none;
  border: 0;
  cursor: pointer;
  padding: 0;
  outline-width: 2px;
  outline-offset: 5px;
  text-decoration: none;
  font-size: 1rem;

  &:hover {
    outline: none;
  }

  &__icon {
    width: 24px;
    height: 24px;
    vertical-align: middle;
    margin-right: .5rem;
  }

  &__title {
    text-decoration: none;
  }
}

.o-switch {
  &__icon {
    width: 100%;
    height: 100%;
  }
}

.o-list {
  list-style-type: none;
  margin: 0;
  padding: 0;

  &--no-list {
    list-style-type: none;
  }
}
