.u-faded {
  opacity: 0;
}

.u-hidden {
  display: none !important;
}

.u-hide-tablet {
  @media (--tablet) {
    display: none !important;
  }
}

.u-show-tablet {
  @media (--tablet) {
    display: block !important;
  }
}
