extends ./components/layout/layout

block content
  main.l-main-container
    include ./components/card/card
    include ./components/section/section

    +section
      p.c-section__content
        | Primarly full stack #[strong web] developer, but making more mobile applications nowadays.#[br]
      p.c-section__content
        | Traveling #[a.o-link(href="https://en.wikipedia.org/wiki/Forgotten_Realms" rel="noreferrer noopener") Forgotten Realms], adore driving everything 
        | #[a.o-link(href="/res/plane.jpg" target="_blank") has wheels],
        | yet another #[a.o-link(href="https://www.apple.com/" rel="noreferrer noopener") Apple] fanboy.
      p.c-section__content
        | From #[a.o-link(href=`https://www.google.com/maps/search/?api=1&query=${places.home.lat},${places.home.lng}` rel="noreferrer noopener")= `${places.home.city}, ${places.home.country}`]
      p.c-section__content
        | #[strong CTO] @ #[a.o-link(href="http://sprut.mobi" target="_blank") Sprut].#[br]
        | #[strong Full Stack Developer] @ #[a.o-link(href="https://stackbit.com" target="_blank") Stackbit].#[br]
        | Read more in my #[a.o-link(href="/cv") CV].

    +section("Projects")
      ul.c-section__items
        each project in projects
          li.c-section__item
            +card(project, "_blank")

    +section
      +section-header("Posts")
        a.o-link.o-link--plain.o-link--ic(target="_blank" href="/rss" aria-label="Subscribe via RSS")
          svg.c-section__rss-image.o-svg-share(src="/res/icons/rss.svg")
      ul.c-section__items
        each post in posts
          li.c-section__item
            +card(post)
  
  include ./components/footer/footer
  div.u-hidden.u-show-tablet
    +footer("footer")
