extends ./components/layout/layout

block variables
  - const pageType = 'Article';
  - const pageTitle = 'Wishlist';
  - const pageDescription = `If you want make surprise but don't know what to present me, here are some ideas to help you`;
  - const pageUrl = baseUrl + '/wishlist';
  -
    const pageAdditionalData = `
      "headline": "${pageTitle}"
    `;

block content
  include ./components/section/section

  main.l-post-container
    +section
      p.c-section__content
        | If you want make surprise but don't know what to present me, here are some ideas to help you 😊
      p.c-section__content
        | I'm run this list not only for an ideas for you, but also as an ideas for me - for the things which I
        | want to buy, but not now. In worst case scenario you can just send me some beer in non-liquid state 💳
