.c-wishlist-item {
  margin: 10px 0;
  display: flex;
  flex-flow: row nowrap;

  &__done {
   .c-wishlist-item--text {
     text-decoration: line-through;
   }
  }

  &:first-child {
    margin-top: 0;
  }

  &--icon {
    margin-right: 10px;
  }
}
